*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  background: linear-gradient(to bottom, #9c77d7 0%, #de65b2 100%);
}

.main {
  margin: 120px auto;
  max-width: 500px;
  width: 100%;
  background-color: #e1b7ff;
  border-radius: 10px;
  padding: 30px;
}

.main h1 {
  font-size: 35pt;
  font-weight: 600;
  color: #9c77d7;
  text-align: center;
}

.main .input-field {
  display: flex;
  justify-content: center;
  height: 50px;
  width: 100%;
  margin: 20px 0;
}

.input-field input {
  width: 90%;
  height: 100%;
  border: 3px solid #c1a3d6;
  border-radius: 10px;
  background-color: #f6e8ff;
  font-size: 16pt;
  padding-left: 15px;
  outline: none;
}

.input-field button {
  height: 100%;
  width: 50px;
  margin-left: 10px;
  border-radius: 10px;
  font-size: 24pt;
  color: #f6e8ff;
  background-color: #9c77d7;
  cursor: pointer;
  outline: none;
  border: none;
}

ul li {
  list-style: none;
  display: flex;
  align-items: center;
  height: 50px;
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  background-color: #caa0e7;
  border-radius: 10px;
  padding: 0 10px;
}

ul li input[type='text'] {
  height: 30px;
  padding-left: 10px;
  margin: 0 10px;
  border-radius: 3px;
  outline: none;
  border: none;
  color: #674e8d;
  background-color: #caa0e7;
  font-size: 16pt;
}

ul li button {
  position: absolute;
  right: 0;
  width: 50px;
  height: 100%;
  color: #f6e8ff;
  background-color: #e372bf;
  border-radius: 0 3px 3px 0;
  font-weight: 500;
  font-size: 18pt;
  outline: none;
  border: none;
  cursor: pointer;
}

ul li input[type='checkbox'] {
  appearance: none;
  background-color: #f6e8ff;
  height: 30px;
  width: 30px;
  border-radius: 3px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul li input[type='checkbox']:after {
  content: '\2714';
  font-size: 30px;
  display: none;
  color: #9c77d7;
}

ul li input[type='checkbox']:checked:after {
  display: block;
}

.button-wrapper .pagination-wrapper {
  margin: 10px 0;
  display: flex;
  justify-content: center;
}


.button-wrapper .pagination-wrapper .page-number {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: none;
  background-color: #e1b7ff;
  outline: none;
  cursor: pointer;
  color: #a071bc;
  font-size: 20pt;
  font-weight: 600;
}

.button-wrapper .option-btns {
  display: flex;
  justify-content: center;
}

.button-wrapper .option-btns button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 3px solid #a071bc;
  color: #a071bc;
  background-color: #e1b7ff;
  margin: 10px 5px;
  font-size: 16pt;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.button-wrapper .filter-btns {
  display: flex;
  justify-content: center;
}

.button-wrapper .filter-btns button {
  padding: 5px 10px;
  border-radius: 10px;
  border: 3px solid #a071bc;
  color: #a071bc;
  background-color: #e1b7ff;
  margin: 0 5px;
  font-size: 16pt;
  font-weight: 500;
  outline: none;
  cursor: pointer;
}

.active {
  border-radius: 10px !important;
  color: #f6e8ff !important;
  background-color: #9C77D7 !important;
  border: none !important; 
}
